# declare new variables 
a = int; 
b = bool;
c = str;

# they are all None
print(a);
print(b);
print(c);

# we can assign values to them
a = 5;
b = True;
c = "ala ma kota";

# now they are not None
print(a);
print(b);
print(c); 

# if we wan't to assign a value to a variable that doesn't exist, then it's created 
d = 10;
print(d);

print("3_1_PASSED");