a = [int]; # empty list
print(a); # []

# add element
grow(a, 1); # add 1 
print(a); # [1]

# remove element
cut(a); # remove 1
print(a); # []

b = [1, 2, 3]; # list with 3 elements
print(b);

print(len(b)); # 3

# access element 
print(b[1]); # 2

# modify element
b[1] = 4;
print(b); # [1, 4, 3]

# create list of lists 
c = [[1, 2], [3, 4, 5]];
print(c); # [[1, 2], [3, 4, 5]]

c[0] = [6, 7];
print(c); # [[6, 7], [3, 4, 5]]