# edges[i][j] if there is edge from i to j
# edges = [[int]];
edges = [[1, 2], [3, 4], [5], [5], [], []];

visited = [bool];
for (i = 0 to 5) {
	append_front(visited, False);
}

# prints nodes in graf in dfs order
func dfs(node = int) {
	visited[node] = True;
    print(node);
    for (u in edges[node]) {
        if (not visited[u]) {
        	dfs(u);
        }
    }
}

dfs(0); # 0 3 5 4 2