# Sprawdzenie czy zmienna postaci None
a = int;

if (isna(a)) {
    print(a); # None
    a = 10;
}

# ustawienie zmiennej na None
b = 10;
b = None;
print(isna(b)); # True

b = 20; 
print(isna(b)); # False

