def g(x = int) -> None {
    print(x); 
}

g(10); # 10

def h(x = int) -> None {
    print(x);
    return 5;
}

# Return value is ignored when no left side of assignment
h(10); # 10

_ = h(10); # 10 - here the return value is also ignored

def i(x = int) -> None {
    print(x);
    return;
}

i(10); # 10