# basic declarations
a = int;
b = 10;
c = bool;
d = "cześć";

print(a); # None
print(b); # 10
print(d[1]); # z

# declaration of list
l = [int];
appendl(l, 10);
print(l[0]); # 10

e = [1, 2, 3];
print(e); # [1, 2, 3]

# declaration of tuple
g = t(t(1, 2), "hej");

print(g[1]); # "hej"

# unpacking of tuple
t(t(aa, bb), cc) = g;
print(aa); # 1
print(cc); # "hej"
