print("Dodawańsko:");
print(10 + 3);
print("Odejmowańsko:");
print(10 - 3);

print("Skomplikowane działańsko:");
print((10 - 6 / 2) * 5 mod 3);

print("zadeklarowane a:");
a = 3;
print(a); # czy widać a?

b = "to jest b";
print("Czy widać b? " + b);

b = b - "ts";
print("b bez ts: " + b);

c = int;
print("niezadeklarowane c:");
print(c);

c = (a * 2);
print("ustawiłem c na a*2:");
print(c);

# print("Próba przypisania str do inta:");
# f = int;
# f = "hej";

def dodaj(a = int, b = int) -> int {
    print("Dodawanko:");
    return a + b;
}

print("Wywołanie funkcji dodaj:");
print(dodaj(2, 3));

print("przekazanie przez referencję:");

f = 5;

def dodaj_jeden(ref a = int) {
    print("dodaj_jeden:");
    a = a + 1;
}

print("f przed dodaj_jeden:");
print(f);
dodaj_jeden(f);
print("f po dodaj_jeden:");
print(f);

print("rekurencyjny fibonacci:");

def fib(n = int) -> int {
    if (n < 2) {
        return n;
    }
    return fib(n - 1) + fib(n - 2);
}

print("fib(10):");
print(fib(10));

def func2() {
    print("hej");
}

def func1() {
    
    def func2() {
        print("kup se klej");
    }

    func2();
}

func1();