
def void_print(x = 3) {
    print(x);
    return;
    print("to nie powinno się wydrukować");
}

void_print();

a = 5;

while (a > 0) {
    print(a);
    a = a - 1; 

    if (a == 2) {
        break;
    }
}

for (i = 3 to 10) {
    print("i");
    print(i);

    # this is ignored
}

l = [1, 2, 3];
print(l);

print(l[2]);