print("Dodawańsko:");
print(10 + 3);
print("Odejmowańsko:");
print(10 - 3);

print("Skomplikowane działańsko:");
print((10 - 6 / 2) * 5 mod 3);

print("zadeklarowane a:");
a = 3;
print(a); # czy widać a?

b = "to jest b";
print("Czy widać b? " + b);

b = b - "ts";
print("b bez ts: " + b);

c = int;
print("niezadeklarowane c:");
print(c);

c = (a * 2);
print("ustawiłem c na a*2:");
print(c);

# print("Próba przypisania str do inta:");
# f = int;
# f = "hej";

def dodaj(a = int, b = int) -> int {
    return a + b;
}

print("Wywołanie funkcji dodaj:");
print(dodaj(2, 3));